# Python virtual environments
env/
venv/
.venv/

# Python cache/bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter/VS Code
.ipynb_checkpoints/
.vscode/

# Datasets and large assets
DATASET HC18/
DATASET*/
*.png
*.jpg
*.jpeg
*.tif
*.tiff
# Permitir versionar solo los CSV de metadatos
!DATASET HC18/training_set_pixel_size_and_HC.csv
!DATASET HC18/test_set_pixel_size.csv

# Model weights and artifacts (permitir .h5 para versionar o usar LFS)
# Quitar comentario si quieres ignorarlos nuevamente
# *.h5
*.hdf5
*.ckpt
*.pb
*.onnx

# Logs and outputs
logs/
*.log
outputs/
resultados/

# OS files
Thumbs.db
.DS_Store